<div>
    <Navbar></Navbar>
    <div class="paginator">
        <mat-paginator [length]="totalLength"
                       [pageSize]="8"
                       [showFirstLastButtons]="true"
                       [pageIndex]="currentPage"
                       (page)="handlePageEvent($event)"
                       aria-label="Select page">
        </mat-paginator>
        <button mat-raised-button color="primary" (click)="refresh()">Refresh</button>
        </div>
    <books [books]="books"></books>
</div>
