<div class="books-card-container">
    @for (book of books; track book._id) {
    <mat-card class="books-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>{{ book.title }}</mat-card-title>
        </mat-card-header>
            <img mat-card-image src="{{ book.thumbnailUrl }}" alt="book thumbnail">
        <mat-card-content>
            <p>£{{ book.price }}</p>
            <div *ngIf="!book.reserved" class="container">
                <p>Book Available</p>
            </div>
            <div *ngIf="book.reserved" class="container">
                <p>Already Reserved</p>
            </div>
            <p>{{ book.description }}</p>
            <p>Author: {{ book.authors[0] }}</p>
        </mat-card-content>
    </mat-card>
    }
</div>
